@page "/contacts"

<div class="contacts-container">
    <h2>📞 Свяжитесь с нами</h2>
    <p>Мы всегда на связи в наших социальных сетях! Подписывайтесь, чтобы быть в курсе всех новостей и акций.</p>

    <div class="social-links">
        <a href="#" class="social-link">📷 Instagram: <span>petpal</span></a>
        <a href="#" class="social-link">📘 Facebook: <span>fb.com/petpal</span></a>
        <a href="#" class="social-link">🐦 Twitter (X): <span>petpal_official</span></a>
        <a href="#" class="social-link">📺 YouTube: <span>youtube.com/petpal</span></a>
        <a href="#" class="social-link">💬 Telegram: <span>t.me/petpal</span></a>
        <a href="#" class="social-link">📌 TikTok: <span>petpal_tiktok</span></a>
        <a href="#" class="social-link">📧 Email: <span>contact@petpal.com</span></a>
    </div>
</div>
